name: Build Image
on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
env:
  IMAGE_NAME: {{ on.inputs.image_name }}

jobs:
  deploy-changes:
    runs-on: self-hosted
    name: deploy-changes 
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - run: |-
        echo $IMAGE_NAME
