name: Build Image
on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
env: 
  USERNAME: ${{ on.workflow_call.inputs.username }}
jobs:
  deploy-changes:
    name: deploy-changes 
    steps:
    - name: Checkout
      uses: actions/checkout@v3
