name: Build Image
on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string

jobs:
  deploy-changes:
    runs-on: self-hosted
    name: deploy-changes 
    steps:
    - name: Checkout
      uses: actions/checkout@v3
