on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
    secrets:
      envPAT:
        required: true
env: 
  USERNAME: ${{ on.workflow_call.inputs.username }}
deploy-changes:
  name: deploy-changes 
  steps:
  - uses: actions/checkout@v3
